@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0c0c1a;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  animation: flicker 1s infinite alternate;
  position: relative;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  animation: flicker 1s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

header {
  text-align: center;
  padding: 1em;
}

main {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

label {
  color: #ffffff; /* White text color for labels */
  display: block;
  margin-bottom: 10px;
}

input[type="range"],
input[type="color"],
button {
  margin: 1.5em 0 1.5em 0;
}

button {
  background-color: transparent; /* Deep blue color for buttons */
  color: #ffffff; /* White text color for buttons */
  border: solid #fff 1px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #283593; /* Darker blue color on hover */
}

.parent {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  width: 30em;
  height: 30em;
  background-color: transparent;
  border: 1px solid #fff;
}

.child {
  width: calc(100% / 4);
  height: calc(100% / 4);
  background-color: transparent;
  border: solid 1px #fff;
}

.child:hover {
  background-color: #fff;
}
