* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  width: 24em;
  height: 24em;
  background-color: brown;
  flex: 0 1 auto;
}

.child {
  width: 2em;
  height: 2em;
  background-color: aqua;
  border: solid black 1px;
}

.child:hover {
  background-color: blueviolet;
}
